<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome <%= @family.family_name %> to the Family Organizer App</h1>
    <p>
      Here is the Token that you will need to register every new User in <%= @family.family_name %> Family
    </p>
    <h2><%= @family.token %>
    <br>
    <br>
    <p>Thanks for joining and enjoy your new Organizer!!</p>
  </body>
</html>